html {
	margin: 0;
}

body {
	font-family: Sans-Serif;
	font-size: 13px;
	text-align: center;
	margin: 0;
	padding: 0;
}
		
.smallprint {
	font-size: 11px;
}

#wikipediaPageIframe {
	width: 100%;
	height: 400px;
	border: 0px solid #666666;
	display: block;
}

h1 {
	background-color: #FFCC22;
	margin-top: 0;
	margin-bottom: 0;
}

#controls {
	padding-top: 8px;
	padding-bottom: 8px;
}

#openRandomPage {
	font-size: 16px;
	font-weight: bold;
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 16px;
    }

	#openRandomPage {
		font-size: 14px;
	}

}